<div class="tab-pane" id="avatar">
	<h6>Đổi ảnh đại diện</h6>
	<hr>
	<form action="#" id="changeAvatar" enctype="multipart/form-data">
		<div class="form-group">
			<input type="file" class="" id="File" name="File" onchange="loadFile(event)"><br />
			<small id="file-valid" class="text-danger"></small>
		</div>
		<button type="button" class="btn btn-primary" id="updateAvatar">Lưu</button>
	</form>
</div>