
@{
	ViewBag.Title = "Chính sách bảo mật";
	Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<main role="main" class="pb-3">

	<div class="bracum">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ol class="ol-non">
						<li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
						<li><a href="javascript:void(0);">@ViewBag.Title</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 order-lg-last">
					<div class="box-manugar">

						<div class="my-content">
							<div class="head-box">
								<div class="title-box">
									<h1>
										<a href="javascript:void()" title="">
											Ch&#xED;nh s&#xE1;ch b&#x1EA3;o m&#x1EAD;t
										</a>
									</h1>
								</div>
								<div class="clr"></div>
							</div>
							<div class="body-box">
								<div class="im-rep" style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px;">
									<img alt="bannerheader" class="img-responsive" src="https://beautygarden.vn/images/header-bav.png?v=1" style="box-sizing: border-box; border: none; vertical-align: middle; max-width: 100%; display: block; height: 314px; padding: 0px; width: 870px;" />
								</div>
								<h1 class="title-noidung" style="box-sizing: border-box; margin: 20px 0px 10px; font-size: 25px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; line-height: 1.1; color: rgb(25, 148, 39); text-align: center; text-transform: uppercase;">
									<span class="page-heading-title2" style="box-sizing: border-box;">CH&Iacute;NH S&Aacute;CH BẢO MẬT</span>
								</h1>
								<article class="entry-detail" style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px;">
									<div class="content-text clearfix" style="box-sizing: border-box; text-align: justify;">
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Ch&iacute;nh s&aacute;ch bảo mật n&agrave;y c&ocirc;ng bố c&aacute;ch thức m&agrave; C&ocirc;ng ty Cổ phần Beauty Garden (gọi tắt l&agrave; &ldquo;Shop&rdquo; hoặc &ldquo;Ch&uacute;ng t&ocirc;i&rdquo;) thu thập, lưu trữ v&agrave; xử l&yacute; th&ocirc;ng tin hoặc dữ liệu c&aacute; nh&acirc;n (&ldquo;Th&ocirc;ng tin c&aacute; nh&acirc;n&rdquo;) của c&aacute;c kh&aacute;ch h&agrave;ng của m&igrave;nh th&ocirc;ng qua Website. Beauty Garden cam kết sẽ bảo mật c&aacute;c th&ocirc;ng tin c&aacute; nh&acirc;n của kh&aacute;ch h&agrave;ng, đồng thời sẽ nỗ lực hết sức v&agrave; sử dụng c&aacute;c biện ph&aacute;p th&iacute;ch hợp để c&aacute;c th&ocirc;ng tin m&agrave; kh&aacute;ch h&agrave;ng cung cấp cho ch&uacute;ng t&ocirc;i trong qu&aacute; tr&igrave;nh sử dụng website được bảo mật v&agrave; bảo vệ khỏi sự truy cập tr&aacute;i ph&eacute;p.
										</p>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Tuy nhi&ecirc;n, Shop kh&ocirc;ng đảm bảo ngăn chặn được tất cả c&aacute;c truy cập tr&aacute;i ph&eacute;p. Trong trường hợp truy cập tr&aacute;i ph&eacute;p nằm ngo&agrave;i khả năng kiểm so&aacute;t của ch&uacute;ng t&ocirc;i, Shop sẽ kh&ocirc;ng chịu tr&aacute;ch nhiệm dưới bất kỳ h&igrave;nh thức n&agrave;o đối với bất kỳ khiếu nại, tranh chấp hoặc thiệt hại n&agrave;o ph&aacute;t sinh từ hoặc li&ecirc;n quan đến truy cập tr&aacute;i ph&eacute;p đ&oacute;.
										</p>
										<p class="p-noidung color-green" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; color: rgb(25, 148, 39); margin-left: 0px !important;">
											Để hiểu r&otilde; hơn về ch&iacute;nh s&aacute;ch trong c&ocirc;ng t&aacute;c thu thập, lưu trữ v&agrave; sử dụng th&ocirc;ng tin c&aacute; nh&acirc;n của người sử dụng website beautygarden.vn, vui l&ograve;ng đọc c&aacute;c ch&iacute;nh s&aacute;ch bảo mật dưới đ&acirc;y:
										</p>
									</div>
									<div class="content-text clearfix" style="box-sizing: border-box; text-align: justify;">
										<h2 class="title-child" style="box-sizing: border-box; font-family: inherit; line-height: 20px; color: rgb(31, 96, 31); margin: 0px 0px 15px; padding: 0px 0px 5px; font-size: 16px !important;">
											1.&nbsp;<span style="box-sizing: border-box; border-bottom: 1px solid rgb(25, 148, 39); padding-bottom: 5px; line-height: 30px;">Mục đ&iacute;ch v&agrave; phạm vi thu thập th&ocirc;ng tin c&aacute; nh&acirc;n</span>
										</h2>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Để truy cập v&agrave; sử dụng một số dịch vụ tại beautygarden.vn, bạn c&oacute; thể sẽ được y&ecirc;u cầu đăng k&yacute; với ch&uacute;ng t&ocirc;i th&ocirc;ng tin c&aacute; nh&acirc;n (Email, Họ t&ecirc;n, Số ĐT li&ecirc;n lạc,&hellip;). Mọi th&ocirc;ng tin khai b&aacute;o phải đảm bảo t&iacute;nh ch&iacute;nh x&aacute;c v&agrave; hợp ph&aacute;p. Website beautygarden.vn kh&ocirc;ng chịu mọi tr&aacute;ch nhiệm li&ecirc;n quan đến ph&aacute;p luật của th&ocirc;ng tin khai b&aacute;o.
										</p>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Ch&uacute;ng t&ocirc;i cũng c&oacute; thể thu thập th&ocirc;ng tin về số lần viếng thăm, bao gồm số trang bạn xem, số links (li&ecirc;n kết) bạn click v&agrave; những th&ocirc;ng tin kh&aacute;c li&ecirc;n quan đến việc kết nối đến Website của beautygarden.vn. Ch&uacute;ng t&ocirc;i cũng thu thập c&aacute;c th&ocirc;ng tin m&agrave; tr&igrave;nh duyệt Web (Browser) bạn sử dụng mỗi khi truy cập v&agrave;o http://beautygarden.vn, bao gồm: địa chỉ IP, loại Browser, ng&ocirc;n ngữ sử dụng, thời gian v&agrave; những địa chỉ m&agrave; Browser truy xuất đến.
										</p>
									</div>
									<div class="content-text clearfix" style="box-sizing: border-box; text-align: justify;">
										<h2 class="title-child" style="box-sizing: border-box; font-family: inherit; line-height: 20px; color: rgb(31, 96, 31); margin: 0px 0px 15px; padding: 0px 0px 5px; font-size: 16px !important;">
											2.<span style="box-sizing: border-box; border-bottom: 1px solid rgb(25, 148, 39); padding-bottom: 5px; line-height: 30px;">&nbsp;Phạm vi sử dụng th&ocirc;ng tin</span>
										</h2>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											beautygarden.vn thu thập v&agrave; sử dụng th&ocirc;ng tin c&aacute; nh&acirc;n bạn với mục đ&iacute;ch ph&ugrave; hợp v&agrave; ho&agrave;n to&agrave;n tu&acirc;n thủ nội dung của &ldquo;Ch&iacute;nh s&aacute;ch bảo mật&rdquo; n&agrave;y. Khi cần thiết, ch&uacute;ng t&ocirc;i c&oacute; thể sử dụng những th&ocirc;ng tin n&agrave;y để li&ecirc;n hệ trực tiếp với bạn dưới c&aacute;c h&igrave;nh thức như: gởi thư ngỏ, đơn đặt h&agrave;ng, thư cảm ơn, th&ocirc;ng tin về kỹ thuật v&agrave; bảo mật&hellip;
										</p>
									</div>
									<div class="content-text clearfix" style="box-sizing: border-box; text-align: justify;">
										<h2 class="title-child" style="box-sizing: border-box; font-family: inherit; line-height: 20px; color: rgb(31, 96, 31); margin: 0px 0px 15px; padding: 0px 0px 5px; font-size: 16px !important;">
											3.<span style="box-sizing: border-box; border-bottom: 1px solid rgb(25, 148, 39); padding-bottom: 5px; line-height: 30px;">&nbsp;Thời gian lưu trữ th&ocirc;ng tin</span>
										</h2>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											beautygarden.vn sẽ lưu trữ c&aacute;c th&ocirc;ng tin c&aacute; nh&acirc;n do kh&aacute;ch h&agrave;ng cung cấp tr&ecirc;n c&aacute;c hệ thống nội bộ của ch&uacute;ng t&ocirc;i trong qu&aacute; tr&igrave;nh cung cấp dịch vụ cho kh&aacute;ch h&agrave;ng hoặc cho đến khi ho&agrave;n th&agrave;nh mục đ&iacute;ch thu thập hoặc khi kh&aacute;ch h&agrave;ng c&oacute; y&ecirc;u cầu hủy c&aacute;c th&ocirc;ng tin đ&atilde; cung cấp.
										</p>
									</div>
									<div class="content-text clearfix" style="box-sizing: border-box; text-align: justify;">
										<h2 class="title-child" style="box-sizing: border-box; font-family: inherit; line-height: 20px; color: rgb(31, 96, 31); margin: 0px 0px 15px; padding: 0px 0px 5px; font-size: 16px !important;">
											4.<span style="box-sizing: border-box; border-bottom: 1px solid rgb(25, 148, 39); padding-bottom: 5px; line-height: 30px;">&nbsp;Địa chỉ của đơn vị thu thập v&agrave; quản l&yacute; th&ocirc;ng tin c&aacute; nh&acirc;n</span>
										</h2>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											C&ocirc;ng ty Cổ phần Beauty Garden l&agrave; đơn vị thu thập, lưu trữ v&agrave; xử l&yacute; th&ocirc;ng tin hoặc dữ liệu c&aacute; nh&acirc;n (&ldquo;Th&ocirc;ng tin c&aacute; nh&acirc;n&rdquo;) của c&aacute;c kh&aacute;ch h&agrave;ng của m&igrave;nh th&ocirc;ng qua website http://beautygarden.vn.
										</p>
									</div>
									<div class="content-text clearfix" style="box-sizing: border-box; text-align: justify;">
										<h2 class="title-child" style="box-sizing: border-box; font-family: inherit; line-height: 20px; color: rgb(31, 96, 31); margin: 0px 0px 15px; padding: 0px 0px 5px; font-size: 16px !important;">
											5.&nbsp;<span style="box-sizing: border-box; border-bottom: 1px solid rgb(25, 148, 39); padding-bottom: 5px; line-height: 30px;">Phương tiện v&agrave; c&ocirc;ng cụ để người d&ugrave;ng tiếp cận v&agrave; chỉnh sửa dữ liệu c&aacute; nh&acirc;n của m&igrave;nh</span>
										</h2>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Bất cứ thời điểm n&agrave;o bạn cũng c&oacute; thể truy cập v&agrave; chỉnh sửa những th&ocirc;ng tin c&aacute; nh&acirc;n của m&igrave;nh theo c&aacute;c link th&iacute;ch hợp m&agrave; ch&uacute;ng t&ocirc;i cung cấp.
										</p>
									</div>
									<div class="content-text clearfix" style="box-sizing: border-box; text-align: justify;">
										<h2 class="title-child" style="box-sizing: border-box; font-family: inherit; line-height: 20px; color: rgb(31, 96, 31); margin: 0px 0px 15px; padding: 0px 0px 5px; font-size: 16px !important;">
											6.&nbsp;<span style="box-sizing: border-box; border-bottom: 1px solid rgb(25, 148, 39); padding-bottom: 5px; line-height: 30px;">Cam kết về bảo mật th&ocirc;ng tin c&aacute; nh&acirc;n kh&aacute;ch h&agrave;ng</span>
										</h2>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Ch&uacute;ng t&ocirc;i cam kết bảo mật th&ocirc;ng tin c&aacute; nh&acirc;n của bạn bằng mọi c&aacute;ch thức c&oacute; thể. Ch&uacute;ng t&ocirc;i sẽ sử dụng nhiều c&ocirc;ng nghệ bảo mật th&ocirc;ng tin kh&aacute;c nhau nhằm bảo vệ th&ocirc;ng tin n&agrave;y kh&ocirc;ng bị truy lục, sử dụng hoặc tiết lộ ngo&agrave;i &yacute; muốn.
										</p>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											beautygarden.vn khuyến c&aacute;o bạn n&ecirc;n bảo mật c&aacute;c th&ocirc;ng tin li&ecirc;n quan đến mật khẩu truy xuất của bạn v&agrave; kh&ocirc;ng n&ecirc;n chia sẻ với bất kỳ người n&agrave;o kh&aacute;c. Nếu sử dụng m&aacute;y t&iacute;nh chung nhiều người, bạn n&ecirc;n đăng xuất, hoặc tho&aacute;t hết tất cả cửa sổ Website đang mở.
										</p>
										<span style="box-sizing: border-box; font-weight: 700;">Sử dụng &ldquo;Cookie&rdquo;</span>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Beautygarden.vn d&ugrave;ng &quot;Cookie&quot; để gi&uacute;p c&aacute; nh&acirc;n h&oacute;a v&agrave; n&acirc;ng cao tối đa hiệu quả sử dụng thời gian trực tuyến của bạn. Một cookie l&agrave; một ﬁle văn bản được đặt tr&ecirc;n đĩa cứng của bạn bởi một m&aacute;y chủ của trang web. Cookie kh&ocirc;ng được d&ugrave;ng để chạy chương tr&igrave;nh hay đưa virus v&agrave;o m&aacute;y t&iacute;nh của bạn. Cookie được chỉ định lưu v&agrave;o m&aacute;y t&iacute;nh của bạn v&agrave; chỉ c&oacute; thể được đọc bởi trang web đ&oacute;.
										</p>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Một trong những mục đ&iacute;ch của Cookie l&agrave; cung cấp những tiện &iacute;ch để tiết kiệm thời gian của bạn khi truy cập tại website hoặc viếng thăm website lần nữa m&agrave; kh&ocirc;ng cần đăng k&yacute; lại th&ocirc;ng tin sẵn c&oacute;.
										</p>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Bạn c&oacute; thể chấp nhận hoặc từ chối d&ugrave;ng cookie. Hầu hết những Browser tự động chấp nhận cookie, nhưng bạn c&oacute; thể thay đổi những c&agrave;i đặt để từ chối tất cả những cookie nếu bạn th&iacute;ch. Tuy nhi&ecirc;n, nếu bạn chọn từ chối cookie, điều đ&oacute; c&oacute; thể g&acirc;y cản trở v&agrave; ảnh hưởng kh&ocirc;ng tốt đến một số dịch vụ v&agrave; t&iacute;nh năng phụ thuộc v&agrave;o cookie tại website http://beautygarden.vn.
										</p>
										<span style="box-sizing: border-box; font-weight: 700;">Quy định về &ldquo;Spam&rdquo;</span>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Beautygarden.vn thực sự quan ngại đến vấn nạn Spam (thư r&aacute;c), c&aacute;c email giả mạo danh t&iacute;n ch&uacute;ng t&ocirc;i gởi đi. Do đ&oacute;, http://beautygarden.vn khẳng định chỉ gởi email đến bạn khi v&agrave; chỉ khi bạn c&oacute; đăng k&yacute; hoặc sử dụng dịch vụ từ hệ thống của ch&uacute;ng t&ocirc;i.
										</p>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Beautygarden.vn cam kết kh&ocirc;ng b&aacute;n, thu&ecirc; lại hoặc cho thu&ecirc; E-mail của bạn từ b&ecirc;n thứ ba. Nếu bạn v&ocirc; t&igrave;nh nhận được email kh&ocirc;ng theo y&ecirc;u cầu từ hệ thống ch&uacute;ng t&ocirc;i do một nguy&ecirc;n nh&acirc;n ngo&agrave;i &yacute; muốn, xin vui l&ograve;ng nhấn v&agrave;o link từ chối nhận email n&agrave;y k&egrave;m theo, hoặc th&ocirc;ng b&aacute;o trực tiếp đến ban quản trị website.
										</p>
										<span style="box-sizing: border-box; font-weight: 700;">Chia sẻ th&ocirc;ng tin c&aacute; nh&acirc;n</span>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Ngoại trừ c&aacute;c trường hợp về Sử dụng th&ocirc;ng tin c&aacute; nh&acirc;n như đ&atilde; n&ecirc;u trong ch&iacute;nh s&aacute;ch n&agrave;y, ch&uacute;ng t&ocirc;i cam kết sẽ kh&ocirc;ng tiết lộ th&ocirc;ng tin c&aacute; nh&acirc;n bạn ra ngo&agrave;i.<br style="box-sizing: border-box;" />
											Trong một số trường hợp, ch&uacute;ng t&ocirc;i c&oacute; thể thu&ecirc; một đơn vị độc lập để tiến h&agrave;nh c&aacute;c dự &aacute;n nghi&ecirc;n cứu thị trường v&agrave; khi đ&oacute; th&ocirc;ng tin của bạn sẽ được cung cấp cho đơn vị n&agrave;y để tiến h&agrave;nh dự &aacute;n. B&ecirc;n thứ ba n&agrave;y sẽ bị r&agrave;ng buộc bởi một thỏa thuận về bảo mật m&agrave; theo đ&oacute; họ chỉ được ph&eacute;p sử dụng những th&ocirc;ng tin được cung cấp cho mục đ&iacute;ch ho&agrave;n th&agrave;nh dự &aacute;n. Ch&uacute;ng t&ocirc;i c&oacute; thể tiết lộ hoặc cung cấp th&ocirc;ng tin c&aacute; nh&acirc;n của bạn trong c&aacute;c trường hợp thật sự cần thiết như sau: (a) khi c&oacute; y&ecirc;u cầu của c&aacute;c cơ quan ph&aacute;p luật; (b) trong trường hợp m&agrave; ch&uacute;ng t&ocirc;i tin rằng điều đ&oacute; sẽ gi&uacute;p ch&uacute;ng t&ocirc;i bảo vệ quyền lợi ch&iacute;nh đ&aacute;ng của m&igrave;nh trước ph&aacute;p luật; (c) t&igrave;nh huống khẩn cấp v&agrave; cần thiết để bảo vệ quyền an to&agrave;n c&aacute; nh&acirc;n của c&aacute;c th&agrave;nh vi&ecirc;n http://beautygarden.vn kh&aacute;c.
										</p>
									</div>
									<div class="content-text clearfix" style="box-sizing: border-box; text-align: justify;">
										<h2 class="title-child" style="box-sizing: border-box; font-family: inherit; line-height: 20px; color: rgb(31, 96, 31); margin: 0px 0px 15px; padding: 0px 0px 5px; font-size: 16px !important;">
											7.&nbsp;<span style="box-sizing: border-box; border-bottom: 1px solid rgb(25, 148, 39); padding-bottom: 5px; line-height: 30px;">Thay đổi về ch&iacute;nh s&aacute;ch</span>
										</h2>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Nội dung của &ldquo;Ch&iacute;nh s&aacute;ch bảo mật&rdquo; n&agrave;y c&oacute; thể thay đổi để ph&ugrave; hợp với c&aacute;c nhu cầu của beautygarden.vn cũng như nhu cầu v&agrave; sự phản hồi từ kh&aacute;ch h&agrave;ng nếu c&oacute;. Khi cập nhật nội dung ch&iacute;nh s&aacute;ch n&agrave;y, ch&uacute;ng t&ocirc;i sẽ chỉnh sửa lại thời gian &ldquo;Cập nhật lần cuối&rdquo; b&ecirc;n tr&ecirc;n.
										</p>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Nội dung &ldquo;Ch&iacute;nh s&aacute;ch bảo mật&rdquo; n&agrave;y chỉ &aacute;p dụng tại beautygarden.vn, kh&ocirc;ng bao gồm hoặc li&ecirc;n quan đến c&aacute;c b&ecirc;n thứ ba đặt quảng c&aacute;o hay c&oacute; link tại beautygarden.vn. Do đ&oacute;, ch&uacute;ng t&ocirc;i đề nghị bạn đọc v&agrave; tham khảo kỹ nội dung &ldquo;Ch&iacute;nh s&aacute;ch bảo mật&rdquo; của từng website m&agrave; bạn đang truy cập.
										</p>
									</div>
									<div class="content-text clearfix" style="box-sizing: border-box; text-align: justify;">
										<h2 class="title-child" style="box-sizing: border-box; font-family: inherit; line-height: 20px; color: rgb(31, 96, 31); margin: 0px 0px 15px; padding: 0px 0px 5px; font-size: 16px !important;">
											8.&nbsp;<span style="box-sizing: border-box; border-bottom: 1px solid rgb(25, 148, 39); padding-bottom: 5px; line-height: 30px;">Th&ocirc;ng tin li&ecirc;n hệ</span>
										</h2>
										<p class="p-noidung" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; text-indent: 30px; font-size: 15px; line-height: 22px; margin-left: 0px !important;">
											Ch&uacute;ng t&ocirc;i lu&ocirc;n hoan ngh&ecirc;nh c&aacute;c &yacute; kiến đ&oacute;ng g&oacute;p, li&ecirc;n hệ v&agrave; phản hồi th&ocirc;ng tin từ bạn về &ldquo;Ch&iacute;nh s&aacute;ch bảo mật&rdquo; n&agrave;y. Nếu bạn c&oacute; những thắc mắc li&ecirc;n quan xin vui l&ograve;ng li&ecirc;n hệ theo địa chỉ E-mail: support@beautygarden.vn.
										</p>
									</div>
								</article>
								<p>
									&nbsp;
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 order-lg-first">
					<div class="box-left hidden-sm hidden-xs">
						@{Html.RenderAction("DanhMucSanPham", "Partial");}
					</div>
					<div class="box-left hidden-sm hidden-xs">
						@{Html.RenderAction("TinNoiBat", "Partial");}
					</div>
					<div class="box-left">
						@{Html.RenderAction("SanPhamMoiVe", "Partial");}
					</div>
				</div>
			</div>
		</div>
	</div>


</main>
@section css{
	<link href="~/Public/FrontEnd/css/category.css" rel="stylesheet" />
	<link href="~/Public/FrontEnd/css/huongdan.css" rel="stylesheet" />
}

