
@{
	ViewBag.Title = "Giới thiệu Beautygarden";
	Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<main role="main" class="pb-3">

	<div class="bracum">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ol class="ol-non">
						<li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
						<li><a href="javascript:void(0);">@ViewBag.Title</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 order-lg-last">
					<div class="mar-bot-20">
						<div class="row">
							<div class="col-lg-6 col-md-7 col-12">
								<div class="roll-deep enerload roll-deep-event">
									<div class="im-rep">
										<img src="~/Public/FrontEnd/img/left_img.png?v=001" alt="hinh anh cong ty" class="img-responsive">
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-7 col-12">
								<div class="row">
									<div class="col-md-12">
										<div class="title-about roll-deep-x roll-deep-x-event">
											<h1>Beauty Garden</h1>
											<span>Where</span>
											<span>Beauty Shines</span>
										</div>
									</div>
								</div>
								<div class="row hidden-xs">
									<div class="col-md-5 hidden-sm ">
										<div class="img-real-center roll-deep nerload roll-deep-event">
											<div class="im-rep">
												<img src="~/Public/FrontEnd/img/center_img.png?v=1" alt="hinh anh cong ty" class="img-responsive">
											</div>
										</div>

									</div>
									<div class="col-md-7">
										<div class="roll-deep erload roll-deep-event">
											<div class="im-rep ">
												<img src="~/Public/FrontEnd/img/right-img.png?v=1" alt="hinh anh cong ty" class="img-responsive">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section_2">
						<div class="row">
							<div class="col-md-12 text-center">
								<div class="about-need roll-mining roll-mining-event">
									<i class="fa fa-quote-left"></i>
									<h2>Beauty Garden là hệ thống phân phối <br> Mỹ phẩm chính hãng hàng đầu Việt Nam</h2>
								</div>
								<div class="text-center sologan roll-deep roll-deep-event">
									<span>Cung cấp mỹ phẩm làm đẹp chính hãng – chất lượng tốt – giá tốt nhất thị trường</span>
								</div>
								<div class="text-center pad-20 roll-deep emroll roll-deep-event">
									<img src="/lib/images/icon-img.png?v=1" alt="iconimg" class="">
								</div>
								<div class="content-text clearfix emrolls roll-deep roll-deep-event">
									<p class="p-noidung">
										Với mục tiêu mang đến cơ hội trải nghiệm các sản phẩm làm đẹp chất lượng tốt – giá tốt nhất thị trường, góp phần đắp đầy những vẻ đẹp khuyết thiếu, truyền cảm hứng dùng mỹ phẩm và giúp vẻ đẹpViệt tỏa sáng, Beauty Garden luôn không ngừng phấn đấu để hoàn thiện chất lượng dịch vụ của chính mình.
									</p>
									<p class="p-noidung">
										Gần 7 năm kinh nghiệm hoạt động trong lĩnh vực mỹ phẩm làm đẹp, hiện đội ngũ nhân viên của Beauty Garden đã lên đến 150 người cùng hệ thống cửa hàng trải khắp ba miền đất nước. Beauty Garden đang dần khẳng định được vị thế của mình trên thương trường và chiếm được tin yêu của đông đảo quý khách hàng.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="section_3">
						<div class="row">
							<div class="col-lg-7 col-md-7">
								<div class="roll-deep lendin-first roll-deep-event">
									<div class="im-rep">
										<img src="~/Public/FrontEnd/img/left_img_w.png?v=1" alt="hinh anh cong ty" class="img-responsive">
									</div>
								</div>
							</div>
							<div class="col-lg-5 col-md-5 hidden-xs">
								<div class="roll-deep lending-second roll-deep-event">
									<div class="im-rep">
										<img src="~/Public/FrontEnd/img/right_img_w.png?v=1" alt="hinh anh cong ty" class="img-responsive">
									</div>
								</div>
							</div>
						</div>
						<div class="time-kit roll-deep-x roll-deep-x-event">
							<div class="box-kit">
								<div class="cattin-big cattin-big-first">6<span> năm</span></div>
								<div class="cattin-big cattin-big-mid">3<span> miền</span></div>
								<div class="cattin-big cattin-big-bottom">150<span> nhân viên</span></div>
							</div>
						</div>
					</div>
					<div class="section_4">
						<div class="sec-4-title roll-x-left roll-mining-event">
							<h2>BEAUTY GARDEN <br> CÓ NHỮNG GÌ?</h2>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="content-text clearfix roll-mining enmer-join roll-deep-event">

									<p class="p-noidung">
										Phân phối mỹ phẩm chính hãng có xuất xứ nguồn gốc rõ ràng: Hàng nhập khẩu, hàng nhập khẩu từ Mỹ, Pháp, Anh, Nhật, Hàn, Thái Lan,...
									</p>
									<p class="p-noidung">
										Sản phẩm đa dạng: makeup, chăm sóc da, chăm sóc tóc, thực phẩm chức năng, phụ kiện làm đẹp,... đảm bảo phục vụ nhu cầu làm đẹp của chị em.
									</p>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="roll-mining emmer-join roll-deep-event">
									<div class="im-rep">
										<img src="~/Public/FrontEnd/img/right_img_for.png?v=1" alt="hinh anh cong ty" class="img-responsive">
									</div>
								</div>
							</div>
						</div>
						<div class="sec-4-imht roll-x-left roll-mining-event">
							<div class="im-rep">
								<img src="~/Public/FrontEnd/img/center_img_for.png?v=1" alt="hinh anh cong ty" class="img-responsive">
							</div>
						</div>
						<div class="sec-5-imht roll-x-left emner-limit roll-mining-event">
							<h2>TẠI SAO NÊN MUA HÀNG <br>TẠI BEAUTY GARDEN?</h2>
						</div>
					</div>
					<div class="section_5">
						<div class="row">
							<div class="col-lg-6 col-md-5">
								<div class="roll-mining emmer-join-limit roll-deep-event">
									<div class="im-rep">
										<img src="~/Public/FrontEnd/img/left_img_fi.png?v=1" alt="hinh anh cong ty" class="img-responsive">
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-7">
								<div class="roll-deep mer-join-limit roll-deep-event">
									<p>Mỹ phẩm chính hãng – chất lượng tốt – giá tốt nhất thị trường. </p>
									<ul class="no-ul">
										<li>Đội ngũ nhân viên tư vấn chuyên nghiệp, giàu kinh nghiệm và tận tâm với nghề. </li>
										<li>Hệ thống 11 chi nhánh tại 3 miền khách tiện lợi đến tận nơi xem hàng. Dễ dàng mua hàng online qua fanpage hoặc website.</li>
										<li>Hình thức thanh toán linh hoạt: chuyển khoản, ship COD </li>
										<li>Công ty uy tín, nhiều năm kinh nghiệm phát triển trong lĩnh vực mỹ phẩm làm đẹp. </li>
										<li>Là đối tác của nhiều thương hiệu mỹ phẩm nổi tiếng The Face Shop, TonyMoly, The Body Shop, Mac,...sss</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="sec-5-img">
							<div class="im-rep">
								<img src="~/Public/FrontEnd/img/center_img_fi.png?v=1" alt="hinh anh cong ty" class="img-responsive">
							</div>
						</div>
						<div class="" style="margin-top:20px;">
							<iframe width="100%" height="450" src="https://www.youtube.com/embed/Glqn9l-Smnw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
				<div class="col-lg-3 order-lg-first">
					<div class="box-left hidden-sm hidden-xs">
						@{Html.RenderAction("DanhMucSanPham", "Partial");}
					</div>
					<div class="box-left hidden-sm hidden-xs">
						@{Html.RenderAction("TinNoiBat", "Partial");}
					</div>
					<div class="box-left">
						@{Html.RenderAction("SanPhamMoiVe", "Partial");}
					</div>
				</div>
			</div>
		</div>
	</div>

</main>

@section css{
	<link href="~/Public/FrontEnd/css/category.css" rel="stylesheet" />
	<link href="~/Public/FrontEnd/css/huongdan.css" rel="stylesheet" />
}

