
@{
	ViewBag.Title = "Hướng dẫn mua hàng";
	Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<main role="main" class="pb-3">

	<div class="bracum">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ol class="ol-non">
						<li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
						<li><a href="javascript:void(0);">@ViewBag.Title</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 order-lg-last">
					<div class="mar-bot-20">
						<img src="~/Public/FrontEnd/img/head-banner.png?v=001" alt="Hướng Dẫn Mua Hàng" class="img-reponsive" />
						<p class="p-child">Quý khách hàng vui lòng đọc kỹ Nội quy đổi – trả hàng tại Beauty Garden để tận hưởng dịch vụ mua sắm mỹ phẩm một cách trọn vẹn nhất!</p>
					</div>
					<div class="sections">
						<div class="row">
							<div class="col-lg-6">
								<div class="roll-deep img-b1 roll-deep-event">
									<div class="im-rep ">
										<img src="~/Public/FrontEnd/img/hd-1.png?v=1" alt="anhhuongdan" class="img-responsive">
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="title-hd tex-right roll-deep-x title-b1 roll-deep-x-event">Đăng nhập hoặc đăng ký tài khoản</div>
								<div class="tex-right text-content roll-deep-x content-b1 roll-deep-x-event">
									<div><span>1.</span> Đăng nhập bằng tài khoản đã có</div>
									<div><span>2.</span>  Đăng nhập bằng tài khoản Facebook hoặc Google</div>
									<div><span>3.</span> Trong trường hợp chưa đăng ký tài khoản, quý khách có thể chọn dòng " Tạo tài khoản" để bắt đầu</div>
								</div>
								<div class="tex-right roll-deep chuthich-b1 roll-deep-event">
									<div class="chuthich">
										*Có thể đặt hàng mà không cần đăng nhập nhưng quý khách lưu ý phải điền đầy
										đủ và chính xác về thông tin nhận hàng, đặc biệt là địa chỉ mail và số điện thoại
										để Beauty Garden xác nhận đơn hàng.
									</div>
								</div>
							</div>
						</div>
						<div class="step-right">
							<div class="step-end">B1. </div>
						</div>
					</div>
					<div class="sections sections-w">
						<div class="row">
							<div class="col-lg-6">
								<div class="title-hd tex-left title-b2 roll-deep-x">Tìm kiếm sản phẩm</div>
								<div class="text-content tex-left content-b2 roll-deep-x">
									<div><span>Cách 1.</span>  Gõ tên sản phẩm vào thanh tìm </div>
									<div><span>Cách 2.</span>  Tìm theo danh mục sản phẩm; thương hiệu sản phẩm kiếm</div>
									<div><span>Cách 3.</span> Hoặc có thể tham khảo qua những sản phẩm mới về, những sản phẩm đang bán chạy nhất... tại Beauty Garden</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="roll-deep img-b2">
									<div class="im-rep">
										<img src="~/Public/FrontEnd/img/hd-2.png?v=1" alt="anhhuongdan" class="img-responsive">
									</div>
								</div>
							</div>
						</div>
						<div class="step-left">
							<div class="step-end">B2. </div>
						</div>
					</div>
					<div class="sections">
						<div class="row">
							<div class="col-lg-6">
								<div class="roll-deep img-b1 roll-deep-event">
									<div class="im-rep ">
										<img src="~/Public/FrontEnd/img/hd-3.png?v=1" alt="anhhuongdan" class="img-responsive">
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="title-hd tex-right title-b3 roll-deep-x roll-deep-x-event">Chọn sản phẩm</div>
								<div class="tex-right text-content content-b3 roll-deep-x roll-deep-x-event">Sau khi tìm được sản phẩm, quý khách có thể nhấn:</div>
								<div class="tex-right text-content content-b3 roll-deep-x roll-deep-x-event">
									<div><span>1. Mua nhanh:</span> Nếu chỉ muốn mua 1 sản phẩm vừa chọn</div>
									<div><span>2. Thêm giỏ hàng:</span>  Nếu muốn tiếp tục tìm thêm các sản phẩm khác</div>
									<div><span>Lưu ý:</span> Quý khách nhớ chọn phân loại (màu sắc, kích cỡ - nếu có) trước khi đặt hàng</div>
								</div>
							</div>
						</div>
						<div class="step-right">
							<div class="step-end">B3. </div>
						</div>
					</div>
					<div class="sections sections-w">
						<div class="row">
							<div class="col-lg-6">
								<div class="title-hd tex-left title-b4 roll-deep-x roll-deep-x-event">Đặt hàng</div>
								<div class="text-content tex-left content-b4 roll-deep-x roll-deep-x-event">
									<div><span>1.</span>  Tại giỏ hàng, quý khách có thể <span>tăng</span> hoặc <span>giảm</span>  số lượng sản phẩm <br><span>- Xóa:</span>  Để xóa sản phẩm</div>
									<div><span>2. Tiến hành đặt hàng:</span> Tới bước tiếp theo để đặt mua các sản phẩm đã chọn</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="roll-deep img-b2">
									<div class="im-rep">
										<img src="~/Public/FrontEnd/img/hd-4.png?v=1" alt="anhhuongdan" class="img-responsive">
									</div>
								</div>
							</div>
						</div>
						<div class="step-left">
							<div class="step-end">B4. </div>
						</div>
					</div>
					<div class="sections">
						<div class="row">
							<div class="col-lg-6">
								<div class="roll-deep img-b1 roll-deep-event">
									<div class="im-rep ">
										<img src="~/Public/FrontEnd/img/hd-5.png?v=1" alt="anhhuongdan" class="img-responsive">
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="title-hd tex-right title-b5 roll-deep-x roll-deep-x-event">Điền thông tin khách hàng</div>
								<div class="tex-right text-content content-b5 roll-deep-x roll-deep-x-event">Sau khi tìm được sản phẩm, quý khách có thể nhấn:</div>
								<div class="tex-right text-content content-b5 roll-deep-x roll-deep-x-event">
									<div><span>1.</span> Điền đầy đủ thông tin như yêu cầu</div>
									<div><span>2. Tiếp tục:</span>  Để hoàn thành thông tin thanh toán</div>
									<div><span>Lưu ý:</span> Trường hợp có nhiều địa chỉ để nhận hàng hoặc có bất kỳ yêu cầu nào về thời gian giao nhận hàng, quý khách vui lòng điền vào ô <span>“Ghi chú”</span></div>
								</div>
							</div>
						</div>
						<div class="step-right">
							<div class="step-end">B5. </div>
						</div>
					</div>
					<div class="sections sections-w">
						<div class="row">
							<div class="col-lg-6">
								<div class="title-hd tex-left title-b6 roll-deep-x roll-deep-x-event">Kiểm tra và xác nhận đơn hàng</div>
								<div class="text-content tex-left content-b6 roll-deep-x roll-deep-x-event">
									<div>Sau khi hoàn thành tất cả bước đặt mua, nhân viên sẽ gọi điện thoại xác nhận đến quý khách. Quý khách vui lòng nghe điện thoại để xác nhận thông tin đơn hàng.</div>
									<div><span>Lưu ý: </span> Mọi chi phí vận chuyển sẽ được nhân viên tư vấn rõ cho quý khách. </div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="roll-deep img-b2">
									<div class="im-rep">
										<img src="~/Public/FrontEnd/img/hd-6.png?v=1" alt="anhhuongdan" class="img-responsive">
									</div>
								</div>
							</div>
						</div>
						<div class="step-left">
							<div class="step-end">B6. </div>
						</div>
					</div>

				</div>
				<div class="col-lg-3 order-lg-first">
					<div class="box-left hidden-sm hidden-xs">
						@{Html.RenderAction("DanhMucSanPham", "Partial");}
					</div>
					<div class="box-left hidden-sm hidden-xs">
						@{Html.RenderAction("TinNoiBat", "Partial");}
					</div>
					<div class="box-left">
						@{Html.RenderAction("SanPhamMoiVe", "Partial");}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

@section css{
	<link href="~/Public/FrontEnd/css/category.css" rel="stylesheet" />
	<link href="~/Public/FrontEnd/css/huongdan.css" rel="stylesheet" />
}

